<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello! I am a fourth-year student majoring in Software Engineering at Sungkyunkwan University. I have a strong interest in system-related research.
                Currently, I am acquiring knowledge through various courses. This semester, I am taking classes such as Open Source Software Practice, Real-Time Systems Introduction, and Operating Systems. These courses have provided me with a deep understanding of software development and system-related technologies.
                Furthermore, I have honed my skills in various programming languages, tools, and frameworks. I am proficient in languages like C, C++, and Python.
            </p>
            <p class="paragraph-text justify-text">
                Regarding my educational background, I enrolled in the Software Engineering program at Sungkyunkwan University to gain expertise in software-related knowledge. Additionally, I have taken various liberal arts courses.
            </p>
            <p class="paragraph-text justify-text">
                If you would like to learn more about me or get in touch, please feel free to contact me using the following information:
                <br>Email: sys631847@gmail.com
                <br>GitHub: https://github.com/ydykim
            </p>
        </div>
    </section>
</div>
